.navbar-collapse.collapse.navbar-responsive-collapse
  %ul.nav.navbar-nav
    %li= link_to "Home", root_path
    %li= link_to "Calendar", seekings_path
    %li= link_to "Vos remplacents", matches_seekings_path
    %li= link_to "Vos jobs", matches_availabilities_path
    = render partial: 'shared/profile_menu'
