<h1>New shift</h1>

<form id="new-shift" name="shift">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="start_date"> start_date:</label>
    <input type="text" name="start_date" id="start_date" value="<%= start_date %>" >
  </div>

  <div class="field">
    <label for="end_date"> end_date:</label>
    <input type="text" name="end_date" id="end_date" value="<%= end_date %>" >
  </div>

  <div class="field">
    <label for="type"> type:</label>
    <input type="text" name="type" id="type" value="<%= type %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Shift" />
  </div>

</form>

<a href="#/index">Back</a>