<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Start date:</b>
  <%= start_date %>
</p>

<p>
  <b>End date:</b>
  <%= end_date %>
</p>

<p>
  <b>Type:</b>
  <%= type %>
</p>


<a href="#/index">Back</a>